@page
@model XmlVisualizer.Pages.Matches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Serialize">Serialize</a>  |
    <a asp-page="XsltTransformation">XsltToXhtmlTransformation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matches[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Matches) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Matches_id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Matches_id">Details</a> |
                <a asp-page="../Match/Index" asp-route-id="@item.Matches_id">List of matches</a> |
                <a asp-page="./Delete" asp-route-id="@item.Matches_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
