@page
@model XmlVisualizer.Pages.League.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.League[0].League_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.League[0].Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.League[0].Text)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.League) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.League_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.League_id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.League_id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.League_id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
